<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles.css"> -->
    <!-- <script type="text/javascript" src="../static/index.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/formstyle.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch Home</title>
</head>

<body>
    <div>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>

    <div class="container" id="topdiv4" action="/merch_login">
        <nav class="navbar header">
            <a href=""><span class="navbar-brand mb-0 h1">Welcome Back Merchant!</span></a>
            <a class="btn btn-outline-info my-2 my-sm-0" href="{{url_for('merch_logout')}}">Logout</a>
        </nav>
        {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <div class="row" id="index1" style="margin-top: 75px;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Do you want to Add a new Product?</h5>
                        <p class="card-text">Adding new products was never this easy.</p>
                        <button class="btn btn-primary" id="add_new"><a href="/product_add" style="color:white;">Click here</a></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Do you want to edit your products?</h5>
                        <p class="card-text">Editting products was never this easy.</p>
                        <button class="btn btn-primary" id="edit"><a href="/product_edit" style="color: white;">Click here</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>